

.main-page.about section {
  display: flex;
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* justify-content: space-between; */
  backdrop-filter: blur(2px);
  /* padding: 0 10%; */
  gap: 5%;

}

.main-page.about hr { display: none; }

@media only screen and (orientation: portrait) /* and (max-height: 1366px) */ {
  .main-page.about section {
    flex-direction: column;
  }

  .main-page.about hr {
    width: 100%;
    display: block;
    border: 1px solid var(--color-brand);
    border: 1px solid teal;
    margin: 2em 0;
  }
}

@media only screen and (max-width: 450px) {
}