/* class .main-page{} is in App.css */
.main-page.home {
  line-height: 1.12;
  text-align: left;
  width: 100vw;
  height: calc(100vh - (1% + var(--header-thickness)));
  display: flex;
  justify-content: space-around;
  align-self: center;
  animation: page-change-home 1s ease-in-out;
  
}

.greet-card {
  border-left : 2vw solid teal;
  padding-left: 4vw;
  border-radius: 1vw;
  /* height: 80%; */
}

.greeting {
  font-size: 2rem;  
}

.welcome {
  font-size: 1.8rem;
}

.intro {
  font-size: 1.5rem;  
}

.name {
  --size: 10vh;
  font-size: var(--size);
  height: var(--size);
  display: flex;
  flex-direction: row;
}

.jobTitle {
  font-size: 2rem;
}

.tagline {
  max-width: none;
  font-family: 'Pacifico';
  font-size: x-large;
  animation: fade-in 1s linear 5s both;
}

.hatem {
  color: #2a9d8f;
  font-family: 'Pacifico', cursive;
  font-family: 'Satisfy', cursive;
  font-family: fantasy;
  font-weight: 400;
  /* font-size: 3.5rem; */
  text-transform: capitalize;
  border-radius: 10px;
  padding: 5px;
  transition: color 1s ease-in-out;
  /* animation: hatem 4s ease-in-out 500ms 2 ; */
 
}

.hatem:hover {
  /* -webkit-animation: hatem 4s ease-in-out 500ms 2 ; */
  animation: hatem 10s none 0s infinite ;

}

@keyframes hatem {
  /* 00% {color: #08fdd8;} */
  20% {color: #e9c46a ;}
  40% {color: #264653;}
  60% {color: #f4a261;}
  80% {color: #2a9d8f;}
  99% {color: #e76f51;}
  100% {color: #08fdd8;}

}

@media only screen and (max-width: 385px) {
  .greet-card {
    padding-left: 1%;
  }
  .name {
    --size: 7vh;
  }
}