.folio-header {
  color: #03dac5; /* #08fdd8 */
  color: #08fdd8;
  background: #181818;

  /* width: 60px; */
  /* height: 100%; */
  /* position: fixed; */
  max-width: 50px;
  top: 0;
  flex: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;

  border-color: springgreen;

  /* min-height: 500px; */

}