.folio-header {
  color: #03dac5; /* #08fdd8 */
  color: #08fdd8;
  background: #181818;

  /* width: 60px; */
  height: 100vh;
  /* position: fixed; */
  max-width: 50px;
  top: 0;
  flex: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;

  border-color: springgreen;

  /* min-height: 500px; */

}

.social-media {
  /* height: 40%;
  width: 98%; */
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: inherit;
  /* border: 1px solid lightgray; */
  
  
  margin: 0 0 100% 0;
}

.social-media * {
  color: inherit;
  padding: 5px;
  text-decoration: none;
  text-align: center;
}