.folio-header {
  color: var(--color-brand);
  background: var(--color-nav);

  /* width: 60px; */
  height: 100vh;
  position: fixed;
  width: var(--header-thickness);
  top: 0;
  flex: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;

  /* outline: 3px solid springgreen; */

  /* min-height: 500px; */

}

.social-media {
  /* height: 40%; */
  /* width: 98%; */
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: inherit;
  /* border: 1px solid lightgray; */
  
  
  margin: 0 0 100% 0;
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
.social-media {
  margin: 0 0 0 0;
  }
}

.social-media * {
  color: inherit;
  /* padding: 5px; */
  padding: 1px;
  text-decoration: none;
  text-align: center;
  height: 50%
}