.lang-box {
  height: 40px;
  width: 40px;
  text-align: center;
  color: blanchedalmond;
  border: none;
  border-radius: 15px;
  border: 1.5px solid whitesmoke;
  outline:none;
}

.lang-box:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.lang-box.en {
  background-color: red;
}

.lang-box.fr {
  background-color: darkblue;
}
