.nav-btn {
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  /* color: #08fdd8; */
  font-size: xx-small;
  text-transform: uppercase ;
  
  width: 95%;
  /* height: 50px; */
  text-align: center;
  padding: 40% 0 40%;
  border-color: #08fdd8;
  border: 1.5px solid #08fdd8;
}

.nav-btn-current {
  border-right: 6px solid #08fdd8;
  
}

.nav-btn:hover {
  background-color: #08fdd8;
  color: #181818;

}
.nav-btn svg[style]  {
  fill: #08fdd8;
  color: #08fdd8;
  /* background-color: lawngreen; */
}