:root {
  --color-background: #1d1d1d;
  --color-brand: #08fdd8;
  --color-main: antiquewhite;
  --color-nav: #181818; 
  --header-thickness: 60px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Ubuntu', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-main);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Martel', serif;
  /* width: 100%; */
  color: var(--color-brand);
}

h1 {
  font-size: 2.5rem;
  animation: block-translate-right 750ms ease-in-out both;
}

p {
  color: var(--color-main);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  max-width: 700px;
  line-height: 1.5rem;
  /* transform: translateX(-100vw); */
  animation: block-translate-right 750ms ease-in-out 750ms both;
  animation: paragraph 750ms ease-in-out 750ms both;
  
}

::selection {
  color: #FFF714;
  background: deeppink;

}

svg {
 min-width: 20px;
 height: 100%;
 padding: 0;
 margin: 0;
 /* color: inherit; */
 /* fill: inherit; */
}

@keyframes block-translate-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes paragraph {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}